<h1>Posts</h1>

<ul>
  <li><%= link_to "Posts 1", post_path(1) %></li>
  <li><%= link_to "Posts 2", post_path(2) %></li>
  <li><%= link_to "Posts 3", post_path(3) %></li>
  <li><%= link_to "Posts 4", post_path(4) %></li>
</ul>
