<h1>Posts</h1>

<ul>
  <li><%= link_to "Posts 1", post_path(1), data: {turbo_action: "advance", turbo_frame: "master_turbo"} %></li>
  <li><%= link_to "Posts 2", post_path(2), data: {turbo_action: "advance", turbo_frame: "master_turbo"} %></li>
  <li><%= link_to "Posts 3", post_path(3), data: {turbo_action: "advance", turbo_frame: "master_turbo"} %></li>
  <li><%= link_to "Posts 4", post_path(4), data: {turbo_action: "advance", turbo_frame: "master_turbo"} %></li>
</ul>
